.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: "Bebas Neue", sans-serif;
}
header {
  background-image:linear-gradient(to right, rgba(159, 255, 140, 0.24), rgba(255, 179, 0, 0.141)),
  url("../assets/header.jpg");
  background-size:cover;
  background-position: center;
}
header h4{
  color: rgb(159, 255, 140);

}

.layout{
background-color: rgba(159, 255, 140, 0.512);
}
.navmenu{
  font-size: 1.5rem;
}


.carousel {
  width: 100%;
  margin: 0 auto;
  
}
.productos {
  background-color: rgb(206, 255, 154);
  border-radius: 8px;
  padding: 10px;
}

.carousel-img {
  height: 60vh; /* 80% del alto de la ventana */
  object-fit:cover; /* recorta la imagen manteniendo proporciones */
  filter: brightness(0.85); /* leve oscurecimiento para resaltar texto */
}

.carousel-caption {
  background: rgba(71, 153, 109, 0.35); /* fondo semitransparente */
  border-radius: 10px;
  padding: 1rem 2rem;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
.carrito{
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .carousel-img {
    height: 60vh;
  }

  .carousel-caption {
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;
  }
}

.logo {
  width: 180px;
  height: auto;
}